// partial file to be imported into the main file

*, 
*::after,
*::before {
    margin: 0; 
    padding: 0;
    /* this will be inherited where ever 
    else it's declared */
    box-sizing: inherit;

}
html{
    /* 1rem = 10px 
        * making font-size to px is bad practice. so we need to 
        * make it to font-size:100%; and make it 10px by %
        * divide what we want, by 16px
        * so, 10/16 = .625 * 10, or 62.5%
    */

    font-size: 62.5%;
}
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;

    /* 3rem / 10px = 3rem */
    padding: 3rem;

    box-sizing: border-box;

}
