.features{
    grid-column: center-start / center-end;
    margin: 15rem 0; 
    
    // kind of a un-offical 'sub-grid'
    // coming soon -- 'sub-grid' that snaps with its parent grid
    display: grid;

    // remove this because it isn't responsive
    // grid-template-columns: repeat(3, 1fr); 

    // width needs to remain between 25rem and 1fr 
    // auto-fit - creates as many tracks as you defined the width
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)) ;
    
    grid-gap: 6rem;
    align-items: start;

    // this will happen already implicitly
    // grid-template-rows: auto auto;

}

// this will be a resuable component in other files - but in here because it's related
.feature {
    
    display: grid; 
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem; 
    grid-column-gap: 2.5rem;
    
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem; 

        // -1 only works with explicit grid
        grid-row: 1 / span 2;
        transform: translateY(-1rem);
    }

    &__text {
        font-size: 1.7rem; 
        
    }
}