// partial file to be imported into the main file

*, 
*::after,
*::before {
    margin: 0; 
    padding: 0;
    /* this will be inherited where ever 
    else it's declared */
    box-sizing: inherit;

}
html{
    /* 1rem = 10px 
        * making font-size to px is bad practice. so we need to 
        * make it to font-size:100%; and make it 10px by %
        * divide what we want, by 16px
        * so, 10/16 = .625 * 10, or 62.5%
    */

    // defines what 1rem is respective to the base font-size
    font-size: 62.5%; // 1rem = 10px; --> 10px/16px = 62.5%

    @include respond(tab-land) { // width < 900 ?
        font-size: 50.25%; // 1rem = 9px, 9/16 = 50% 
    }
    @include respond(tab-port) { // width < 600 ?
        font-size: 50%; // 1rem = 8px, 8/16 = 50%
    }
    @include respond(big-desktop) {
        font-size: 75%; // 1rem = 12, 12/16 = 75%
    }

}
body{
    box-sizing: border-box;
    
    /* 3rem / 10px = 3rem */
    padding: 3rem;
    
    @include respond(tab-port) { padding: 0; }
}

// DON'T put everything under a single media query


::selection{
    background-color: $color-primary;
    color: $color-white;
}