
/*
    COLORS:
    Light green: #7ed56f
    Medium green: #55c57a
    Dark green: #28b485
*/

/* changing ONE global font-size will allow us to change all the other 
    * measurements at a particular media query  */
body{
    font-family: "Lato", sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    /* 3rem / 10px = 3rem */
    padding: 3rem;
}

.heading-primary{
    color: $color-white;
    text-transform: uppercase;
    /* keeps the entire heading-primary element from shaking
        - no one really knows why this happens */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main{
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        /* how fast the animation will start and stop at certain points
            ease | ease-in | ease-out */
        animation-timing-function: ease-out;
        /* how many times the animation will execute */
        /* animation-iteration-count: 3; */
        /* waits a certain amount of time before executing */
        /* animation-delay: 3s; */
    }
    &--sub{
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation-name: moveInRight 1s ease-out;
    }
}

.heading-secondary{
    font-size: 3.5rem; 
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    // background gradient will only display where the text is
    -webkit-background-clip: text;
    color: transparent;
    // 2px is so small, doesn't matter if we want to scale or not
    letter-spacing: 2px;
    transition: all .2s;

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}
.heading-tertiary{
    font-size: $default-font-size;
    font-weight: 700;
    text-transform: uppercase;
}
.paragraph{
    font-size: $default-font-size;

    &:not(:last-child){
        margin-bottom: 3rem;
    }
}