.sds_tx_center        { text-align: center !important; }
.sds_sp_bottom_sm  { margin-bottom: 1.5rem !important; }
.sds_sp_bottom_md { margin-bottom: 4rem !important; }
.sds_sp_bottom_lg    { margin-bottom: 8rem !important; }
.sds_sp_top_lg        { margin-top: 8rem !important; }
.sds_sp_top_xl        { margin-top: 10rem !important; }